<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="inputTxt">
        {{inputTxt}}
        <br>
        <div v-if="inputTxt == 1">
            <img v-bind:src="srcImg" v-bind:title="titleImg" width="100px">
        </div>
        <div v-else-if="inputTxt == 2">
            <img v-bind:src="srcImg2" v-bind:title="titleImg" width="200px">
        </div> 
        <div v-else-if="inputTxt == 3">
            <img v-bind:src="srcImg3" v-bind:title="titleImg" width="200px">
        </div>         
        <hr>
        <a :href="url"> Vue </a>
        <hr>
        <p v-text="txt"></p>
        <hr>
        <p v-html="txt"></p>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                inputTxt: '',
                srcImg: 'vuelogo.png',
                srcImg2: 'vuelogo2.png',
                srcImg3: 'vuelogo3.png',
                titleImg: 'Logo do Vue',
                url: 'https://br.vuejs.org/',
                txt: '<b>Teste</b> <br> de <br> texto!'
            }         
        })
    </script> 
</body>
</html>