<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<div id="app">
			<h1>Two way data binding</h1>
			<hr />
			<form v-on:submit.prevent="changeName('Name')">
				<p>Texto:</p>
				<label v-text="inputTxt"></label>
				<br />
				<input type="text" v-model="inputTxt" />
				<button type="submit">
					Change Name
				</button>
				<br />
			</form>
			<hr />
			<p>Input works with 'Enter' pressed.</p>
			<input
				type="text"
				v-model="inputTxt"
				v-on:keyup.enter="changeName('Name')"
			/>
			<hr />
			<h3>Array</h3>
			<ul>
				<li v-for="item in array">{{item}}</li>
			</ul>
		</div>

		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					inputTxt: '',
					array: [],
				},
				methods: {
					changeName(name, event) {
						this.array.push(this.inputTxt)
						this.inputTxt = ''
					},
				},
			})
		</script>
	</body>
</html>
